extends layout_login

block content
  .row.justify-content-center
    .col-md-4
      .card.shadow
        .card-body
          h3.card-title.text-center.mb-3 Login
          if error
            .alert.alert-danger #{error}
          form(method="POST", action="/login")
            .mb-3
              label.form-label(for="username") Username
              input.form-control(type="text", name="username", required)
            .mb-3
              label.form-label(for="password") Password
              input.form-control(type="password", name="password", required)
            button.btn.btn-primary.w-100(type="submit") Login
